* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: sans-serif;
}

.nav-title {
  width: 80%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://goodhomes.wwmindia.com/content/2023/feb/lowbudgetsimplehousedesignlowbudgetinteriors151676538864.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: space-between;
  padding: 30px 80px;
  position: relative;
}

.nav-link li {
  list-style: none;

  display: inline-block;
  justify-content: space-between;
  position: relative;
}

.nav-link li::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: blue;
  position: absolute;
  left: 0;
  opacity: 0;
  bottom: -10px;

  transition: 0.5s;
}

.nav-link li:hover::after {
  width: 100%;
  opacity: 1;
}

.nav-link li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 0px 10px;
}

.content {
  position: absolute;
  left: 150px;
  bottom: 150px;
  color: white;
}

.content h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.content p {
  width: 500px;
  text-align: center;
}

.btn {
  border: 2px solid #009688;
  padding: 10px 20px;
  background-color: black;
  border-radius: 30px;
  margin-top: 30px;
  font-weight: bold;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span {
  background: #009688;
  width: 0;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.btn:hover span {
  width: 100%;
}

.btn:hover {
  border: none;
}
